input_images/tiles/
input_images/demo/
input_images/created_images/
input_images/utils/nanmask.npy
input_images/utils/dwarf_placement_mask/outer_mask.fits
input_images/utils/dwarf_placement_mask/segmap_lg.fits
input_images/utils/dwarf_placement_mask/segmap_sm.fits
input_images/utils/dwarf_placement_mask/total_mask.fits
input_images/utils/dwarf_placement_mask/total_mask.npy

TRAIN_CNN/BUILD_DATASET/
TRAIN_CNN/DATASETS
TRAIN_CNN/lightprofile_dataset/
TRAIN_CNN/MODELS/

COMPLETENESS/

ALGORITHM/CHUNKS/chunks/
ALGORITHM/PREPROCESS/preprocessed/
ALGORITHM/IMAGE_PROCESS/processed/
ALGORITHM/DETECT_FILTER/csv/
ALGORITHM/DETECT_FILTER/segmap/
ALGORITHM/MASTER_CATALOG/master_catalog/
ALGORITHM/saved_runs/
ALGORITHM/CNN/
ALGORITHM/CUTOUT/cutouts/
ALGORITHM/HUMAN_VERIFICATION/
