input_images/
TRAIN_CNN/dataset/
TRAIN_CNN/create_dataset/
TRAIN_CNN/logs/
ALGORITHM/saved_runs/
ALGORITHM/MASK_BLUR/blurred/
ALGORITHM/DETECT_FILTER_CUTOUT/csv/
ALGORITHM/DETECT_FILTER_CUTOUT/cutouts/
ALGORITHM/DETECT_FILTER_CUTOUT/images/
ALGORITHM/CONSULT_CNN/dwarf/
ALGORITHM/CONSULT_CNN/nondwarf/
ALGORITHM/CONSULT_CNN/CNNmodel.keras
