input_images/
TRAIN_CNN/authentic_dataset/dataset/
TRAIN_CNN/authentic_dataset/dwarf_placement_mask/outer_mask.npy
TRAIN_CNN/authentic_dataset/dwarf_placement_mask/total_mask.npy
TRAIN_CNN/authentic_dataset/dwarf_placement_mask/outer_mask.fits
TRAIN_CNN/authentic_dataset/dwarf_placement_mask/segmap_lg.fits
TRAIN_CNN/authentic_dataset/dwarf_placement_mask/segmap_sm.fits
TRAIN_CNN/authentic_dataset/dwarf_placement_mask/total_mask.fits
TRAIN_CNN/lightprofile_dataset/
TRAIN_CNN/CNNmodel.keras
TEST_DETECT/
ALGORITHM/CHUNKS/chunks/
ALGORITHM/PREPROCESS/preprocessed/
ALGORITHM/IMAGE_PROCESS/processed/
ALGORITHM/DETECT_FILTER/csv/
ALGORITHM/DETECT_FILTER/segmap/
ALGORITHM/SKYCOORD_MASTER_CATALOG/master_catalogs/
ALGORITHM/saved_runs/
ALGORITHM/CNN/
ALGORITHM/CUTOUT_COLOR/
ALGORITHM/HUMAN_VERIFICATION/
ALGORITHM/RESULTS/
